{%extends 'Teacher_base.html'%}
{%block content%}

<table class="table table-striped" style="background-color:bisque">
    <thead>
      <tr>
        <th scope="col">Assignment Name</th>
        <th scope="col">Assignment Id</th>
        <th scope="col">Course Id</th>
        
        <th scope="col">Due Date</th>
        <th scope="col">Maximum Size</th>
        <th scope="col">action</th>
      </tr>
    </thead>
    <tbody>
      {%for ass in ass_list %}
      <tr>
          
          <td>{{ass.assign_name}}</td>
          <td>{{ass.assign_id}}</td>
          <td>{{ass.c_id}}</td>
          <td>{{ass.assign_due_date}}</td>
          <td>{{ass.assign_max_size_kb}}</a></td>
          <td>
            <a class="btn btn-outline-primary" href="/manageSubmissions/TeacherSubmissionDisplay.html?teacher_course_id={{ass.c_id}}&teacher_assignment_id={{ass.assign_id}}" role="button">
              View Submissions
            </a>
          </td>
      </tr>
      {%endfor%}
    </tbody>
  </table>

{%endblock%}