{% extends 'Teacher_base.html' %}
	{% block content %}
        <h2>Assignment List</h2>
        <table class="table table-striped" style="background-color:bisque">
  <thead>
    <tr>
      <th scope="col">Assignment Id</th>
      
      <th scope="col">Course Name</th>
      <th scope="col">Due Date & Time</th>
      
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">static1</th>
      <!--<td>Yash</td>
      <td>JT</td>
      <td>06/06</td>
      <td><a href="#">#</a></td>-->
    </tr>
    
	<!--{%for ass in ass_list %}
	<tr>
		<td>{{ass.assign_id}}</td>
	</tr>
	{%endfor%}-->
  </tbody>
</table>
    {%endblock%}