{% extends 'Teacher_base.html' %}
        {%block content%}
        
        <br>
        <center>
	<form action="/manageAssignments/TeacherAssignmentDisplay.html" method="post" style="background-color:wheat">
		{% csrf_token %}
	<div class="form-group row">
    <label for="teacher_course_name" class="col-sm-4 col-form-label">Course Name</label>
    <div class="col-sm-6">
      <!--input type="text" class="form-control" id="student_assignment_id"-->
    	 <select id="teacher_course_name" class="form-control" name="teacher_course_name" required onchange="this.form.submit()">
             <option selected>Choose...</option>
        <option>1</option>
		<option>2</option>
		<!--{%for ass in ass_list%}
			<option>{{ass.assign_id}}</option>
		{%endfor%}-->
      </select>
	</div>
  </div>
	
<button type="submit" class="btn btn-primary" style="background-color:saddlebrown">Submit</button>
  
  </form>
</center>
{% endblock %}