{% extends 'base.html' %}
{%block content%}

	<div class="container">
		<div class="row justify-content-start">
			<div class="alert alert-success role="alert">
				  <h4 class="alert-heading">You are Successfully Logged Out</h4>
				  <p>Aww yeah, you are successfully logout.<br>
				  	Click on <a href="/Register/Login.html">Login</a> to login again..</p>
				  <hr>
				  <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep<br> 
						things nice and tidy.</p>
			</div>
		</div>
	</div>

{%endblock%}
