<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>
		SignIn
	</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>
  <body style="background-color:powderblue;">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	
	
	<div class="container">
		<div class="row justify-content-start">
		    <div class="col-4">
		      <h2>Sign IN</h2>
		    </div>
		</div>
	</div>



	<div class="alert alert-primary" role="alert">
		<div class="container">	
			<div class="row justify-content-end">
			    <div class="col-2">
					<a class="btn btn-outline-primary" href="SignIn.html" role="button">
						Home
					</a>
			    </div>
				<div class="col-2">
				      <a class="btn btn-outline-primary" href="SignIn.html" role="button">
					  	About
					  </a>
				</div>
				<div class="col-2">
				      <a class="btn btn-outline-primary" href="SignIn.html" role="button">
					  	Courses
						</a>
				</div>
				<div class="col-2">
				      <a class="btn btn-outline-primary" href="SignIn.html" role="button">
					  	Syllabus
					  </a>
				</div>
				<div class="col-2">
				      <a class="btn btn-outline-primary" href="SignIn.html" role="button">
					  	Blog
						</a>
				</div>
				<div class="col-2">
				      <a class="btn btn-outline-primary" href="SignIn.html" role="button">
					  	Contact
					  </a>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row justify-content-start">
			<div class="alert alert-success role="alert">
				  <h4 class="alert-heading">Well done!</h4>
				  <p>Aww yeah, you successfully read this important alert message.<br> 
					This example text is going to run a bit longer so that you can<br> 
					see how spacing within an alert works with this kind of content.</p>
				  <hr>
				  <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep<br> 
						things nice and tidy.</p>
			</div>
		</div>
	</div>

	<center><div class="card" style="width: 18rem;">
  <img src="download.jfif" class="card-img-top" alt="Teacher">
  <div class="card-body">
    <h5 class="card-title">For Teachers</h5>
    <p class="card-text">Click on the button below for Sign In....<strong>Only for Teachers</strong></p>
    <a href="teacher_reg.html" class="btn btn-primary stretched-link">Sign Up</a>
  </div>
  </div>
  <br>
	<div class="card" style="width: 18rem;">
  <img src="student_img.jfif" class="card-img-top" alt="Student">
  <div class="card-body">
    <h5 class="card-title">For Students</h5>
    <p class="card-text">Click on the button below for Sign In....<strong>Only for Students</strong></p>
    <a href="student_reg.html" class="btn btn-primary stretched-link">Sign Up</a>
  </div>
</div>  
  </center>

</body>
</html>
