{% extends 'base.html' %}
{% block content %}
<center>
	<form action="putStudentData" method="post">
		{% csrf_token %}
	<div class="form-group row">
    <label for="inputFirstName" class="col-sm-4 col-form-label">First Name</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="inputFirstName" name="student_first_name" required>
    </div>
  </div>
	
	<div class="form-group row">
    <label for="inputMiddleName" class="col-sm-4 col-form-label">Middle Name</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="inputMiddleName" name="student_middle_name" required>
    </div>
  </div>
	
	<div class="form-group row">
    <label for="inputLastName" class="col-sm-4 col-form-label">Last Name</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="inputLastName" name="student_last_name" required>
    </div>
  </div>
	
  <div class="form-group row">
    <label for="inputUserName" class="col-sm-4 col-form-label">User Name</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="inputUserName" name="student_user_name" required>
    </div>
  </div>
	
  <div class="form-group row">
    <label for="inputPassword" class="col-sm-4 col-form-label">Password</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="inputPassword" name="student_password" required>
    </div>
  </div>

	<div class="form-group row">
    <label for="inputDOB" class="col-sm-4 col-form-label">Birth Date</label>
    <div class="col-sm-6">
      <input type="date" class="form-control" id="inputDOB" name="student_dob" required>
    </div>
  </div>
	
	<div class="form-group row">
    <label for="inputSemester" class="col-sm-4 col-form-label">Semester</label>
    <div class="col-sm-6">
      <!--input type="text" class="form-control" id="inputSemester"-->
    	 <select id="inputSemester" class="form-control" name="student_semester" required>
        <option selected>Choose...</option>
        <option>1</option>
		<option>2</option>
		<option>3</option>
		<option>4</option>
		<option>5</option>
		<option>6</option>
		<option>7</option>
		<option>8</option>
      </select>
	</div>
  </div>
	
	<div class="form-group row">
    <label for="inputCourse" class="col-sm-4 col-form-label">Course</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="inputCourse" name="student_course" required>
    </div>
  </div>
	
  <div class="form-group row">
    <label for="inputEmail3" class="col-sm-4 col-form-label">Email</label>
    <div class="col-sm-6">
      <input type="email" class="form-control" id="inputEmail3" name="student_email" required>
    </div>
  </div>
  
  <div class="form-group row">
    <label for="inputAddress" class="col-sm-4 col-form-label">Address</label>
	<div class="col-sm-6">
    <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St" name="student_address" required>
  </div>
  </div>
  
  <div class="form-group row">
    <label for="inputAddress2" class="col-sm-4 col-form-label">Address 2</label>
	<div class="col-sm-6">
    <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor" name="student_address2" required>
  </div>
  </div>
  
  <div class="form-group row">
  
    <div class="form-group col-sm-4">
      <label for="inputCity" class="col-md-6 col-form-label">City</label>
	  <div class="col-md-6">
      <input type="text" class="form-control" id="inputCity" name="student_city" required>
    </div>
	</div>
	
    <div class="form-group col-sm-4">
      <label for="inputState" class="col-md-6 col-form-label">State</label>
	  <div class="col-md-6">
      <input type="text" id="inputState" class="form-control" name="student_state" required>
    </div>
	</div>
	
    <div class="form-group col-sm-4">
      <label for="inputZip" class="col-md-6 col-form-label">Zip</label>
	  <div class="col-md-6">
      <input type="text" class="form-control" id="inputZip" name="student_zip">
    </div>
	</div>
  </div>
  
  <div class="form-group row">
    <label for="inputMobileNo" class="col-sm-4 col-form-label">Mobile No.</label>
	<div class="col-sm-6">
    <input type="text" class="form-control" id="inputMobileNo" name="student_mobile_no" required>
  </div>
  </div>
  
  <div class="form-group row">
    <label for="inputIdNo" class="col-sm-4 col-form-label">Id No.</label>
	<div class="col-sm-6">
    <input type="text" class="form-control" id="inputIdNo" name="student_id_no" required>
  </div>
  </div>
  
  <div class="form-group row">
    <label for="StudentImage" class="col-sm-4 col-form-label">Upload Image</label>
	<div class="col-sm-6">
    <input type="file" class="form-control-file" id="StudentImage" name="student_image" required>
  </div>
  </div>
  
  <button type="submit" class="btn btn-primary">Submit</button>
  
  </form>
</center>







	<br><div class="container">
		<div class="alert alert-danger alert-dismissible fade show" role="alert">
  			<strong>Holy guacamole!</strong> You should check in on some of those fields below.
  			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
  			</button>
		</div>
	</div>
	{% endblock %}

