{% extends 'Student_base.html' %}
	{% block content %}
    
    <br>
    <form action="/manageSubmissions/StudentSubmissionDisplay.html" method="post" style="background-color:wheat">
      {% csrf_token %}
    <div class="row">
    <label for="student_course" class="col-sm-4 col-form-label">Course</label>
    <div class="col-sm-6">
      <select id="student_course_name" class="form-control" name="student_course_name" required onchange="this.form.submit()">
        <option >Choose...</option>
        <option>static1</option>
        {%for c in course_list %}
             {%if c.c_id == course_option %} 
              <option value={{c.c_id}} selected>{{c.c_id}}</option>
            {%else%}
            
            <option value={{c.c_id}}>{{c.c_id}}</option>
            
            {%endif%}
            
          {%endfor%}
      </select>
  </div>
  </div><br>
    </form>

  

  <table class="table table-striped" style="background-color:bisque">
  <thead>
    <tr>
      <th scope="col">Assignment Id</th>
      <!--th scope="col">Student Name</th-->
      <th scope="col">Course Name</th>
      <th scope="col">Due Date & Time</th>
      <!--<th scope="col">Submission Link</th>-->
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <!--<td>Yash</td>
      <td>JT</td>
      <td>06/06</td>
      <td><a href="#">#</a></td>-->
    </tr>
    <tr>
      <th scope="row">2</th>
      <!--<td>Aastha</td>
      <td>SE</td>
      <td>27/06</td>
      <td><a href="#">#</a></td>-->
	</tr>
	{%for sub in sub_list %}
	<tr>
		<td>{{sub.assign_id}}</td>
	</tr>
	{%endfor%}
  </tbody>
</table>
    {%endblock%}