{% extends 'Teacher_base.html' %}
        {%block content%}
        
        <br>
        <center>
	<form action="/manageSubmissions/TeacherSubmissionDisplay.html" method="post" style="background-color:wheat">
		{% csrf_token %}
	<div class="form-group row">
    <label for="teacher_course_id" class="col-sm-4 col-form-label">Course Name</label>
    <div class="col-sm-6">
      <!--input type="text" class="form-control" id="student_assignment_id"-->
    	 <select id="teacher_course_id" class="form-control" name="teacher_course_id" required onchange="this.form.submit()" >
          <option>Choose...</option>
          {%for c in course_list %}
            {%if c.c_id == course_option %}
              <option value={{c.c_id}} selected>{{c.c_name}}</option>
            {%else%}
            <option value={{c.c_id}}>{{c.c_name}}</option>
            {%endif%}
          {%endfor%}
          <!--option>2</option-->
		<!--{%for ass in ass_list%}
			<option>{{ass.assign_id}}</option>
		{%endfor%}-->
      </select>
	</div>
  </div>

  <div class="form-group row">
    <label for="teacher_assignment_id" class="col-sm-4 col-form-label">Assignment Id</label>
    <div class="col-sm-6">
      <!--input type="text" class="form-control" id="student_assignment_id"-->
    	 <select id="teacher_assignment_id" class="form-control" name="teacher_assignment_id" onchange="this.form.submit()">
             <option >Choose...</option>
        
		{%for ass in ass_list%}
      {%if ass.assign_id == assign_option %}
      <option value='{{ass.assign_id}}' selected>{{ass.assign_id}}) {{ass.assign_name}} </option>
      {%else%}
      <option value='{{ass.assign_id}}'>{{ass.assign_id}}) {{ass.assign_name}}</option>
      {%endif%}
      
		{%endfor%}
      </select>
	</div>
  </div>
  
<!--button type="submit" class="btn btn-primary" style="background-color:saddlebrown">Submit</button-->
  

<table class="table table-striped" style="background-color:bisque">
  <thead>
    <tr>
      <th scope="col">Assignment Id</th>
      <th scope="col">Student email</th>
      <th scope="col">Submission date</th>
      <th scope="col">Logic Marks</th>
      <th scope="col">Uniqueness Marks</th>
      <th scope="col">Quality Marks</th>
      <th scope="col">Submission Link</th>
    </tr>
  </thead>
  <tbody>
  
	{%for sub in sub_list %}
	<tr>
    <td>{{sub.assign_id}}</td>
    <td>{{sub.student_email}}</td>
    <td>{{sub.submission_date}}</td>
    <td>{{sub.submission_marks_logic}}</td>
    <td>{{sub.submission_marks_uniqueness}}</td>
    <td>{{sub.submission_marks_quality}}</td>
    <td><a href="/manageSubmissions/ViewSubmissionFile.html?stu_email={{sub.student_email}}&assign_id={{sub.assign_id}}">View</a></td>
	</tr>
	{%endfor%}
  </form>
</center>
{% endblock %}