{%extends 'Teacher_base.html'%}

{%block content%}

<br>
<p><strong>Name of the File</strong></p><br>
<div id="list">
  <p><iframe src="{{file_url}}" frameborder="1" height="400"
      width="80%"></iframe></p>
</div>

<br>
        <center>
	<form action="#" method="post" style="background-color:wheat">
		{% csrf_token %}
	<div class="form-group row">
    <label for="submission_marks_logic" class="col-sm-4 col-form-label">Logic</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="submission_marks_logic" name="submission_marks_logic">
	</div>
  </div>
  <div class="form-group row">
    <label for=" submission_marks_uniqueness" class="col-sm-4 col-form-label">Uniqueness</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="submission_marks_uniqueness" name="submission_marks_uniqueness">
	</div>
  </div>
  <div class="form-group row">
    <label for="submission_marks_quality" class="col-sm-4 col-form-label">Quality</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="submission_marks_quality" name="submission_marks_quality">
	</div>
  </div>
	
<button type="submit" class="btn btn-primary" style="background-color:saddlebrown">Submit</button>
  
  </form>
</center>

{%endblock%}